/* This stylesheet contains the code for the header and the relevant @media queries */
/* Note that this code is depedent on header.js for the animation triggers*/

/* Going down the tree */


/* Collapsed Bar (small screens) */


header {
  /* Positioning and alignment */
  z-index: 9999; /* Keep it on top */
  width: 100vw; /* Make it full width */
  position: fixed; /* Make it not scroll */
  height: 55px;
  top: 0;

  /* Aesthetics */
  background-color: #000000;
  color: white;

  /* Animations */
  transition: height .5s cubic-bezier(.22,.47,.11,.92);

  /* Inner */
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  grid-template-rows: 55px;
  grid-template-areas:
  ". hamburger ."

}

header *{
  display: none;
}

header .hamburger_link {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 55px;
  width: 100vw;
  grid-area: hamburger;
}

header .hamburger_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  z-index: 999999;
  color: white;
}

header .hamburger {
  display: flex;
  height: 35px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

header .hamburger div {
  display: block;
  width: 27px;
  height: 3px;
  background-color: white;
  border-radius: 1px;
  margin: 4px 0;
  transition: transform .5s cubic-bezier(.22,.47,.11,.92);
}

/* When the hamburger is clickd */

header.xed {
  height: 100vh;
  grid-template-columns: 5fr 1fr 5fr;
  grid-template-rows: 55px 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". hamburger ."
  ". home ."
  ". enroll ."
  ". join ."
  ". about ."
  ". more ."
  ". login ."
  ". lang .";
}

.hamburger.xed .hamburger_mid {
  visibility: hidden;
}

.hamburger.xed .hamburger_1{
  transform: translate(0px, 12px) rotate(45deg);
}

.hamburger.xed .hamburger_2{
  transform: translate(0px, -11px) rotate(-45deg);
}

header.xed .home, header.xed .join, header.xed .enroll, header.xed .about, header.xed .more, header.xed .login {
  display: flex;
  font-size: 2em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
}

header.xed .home{
  grid-area: home;
}


header.xed .enroll{
  grid-area: enroll;
}


header.xed .join{
  grid-area: join;
}



header.xed .about{
  grid-area: about;
}


header.xed .more{
  grid-area: more;
}


header.xed .login{
  grid-area: login;
}


header.xed .lang_switch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-area: lang;
}

header.xed .lang_switch a {
  display: flex;
  height: 100%;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header.xed .lang_switch img {
  display: block;
}

header.xed .lang_switch p{
  display: inline;
  font-size: 1em;
}

@media screen and (min-width: 700px){
  header.xed .home, header.xed .join, header.xed .enroll, header.xed .about, header.xed .more, header.xed .login {
    font-size: 2.5em;
  }
  header.xed .lang_switch * {
    font-size: 1.5em;
  }
}

header .current {
  border-left: 4px solid #e7803b;
}
