<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> About Us | The Global Milestone Club </title>
        <link rel="stylesheet" href="https://use.typekit.net/wvo2aqc.css">
        <link rel = "stylesheet", type = "text/css", href = "../stylesheets/style_all.css">
        <link rel = "stylesheet", type = "text/css", href = "../stylesheets/style_about.css">
        <link rel = "stylesheet", type = "text/css", href = "../stylesheets/header.css">
        <script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
        <script src = "../scripts/header.js"></script>
  </head>

  <body>
    <!-- Header and Dummy combo -->
    <div class = "header_dummy">
    </div>

    <header id = "header">
        <a class = "logo" href="../index.html"><img src = "../img/icons/Logo.svg"/></a>
      <nav>


        <div class = "navlist">
          <ul>
            <a class= "hamburger_parent">

              <div class = "hamburger">
                <div class = "hamburger_1">
                </div>
                <div class="hamburger_mid">
                </div>
                <div class = "hamburger_2">
                </div>

              </div>
            </a>

            <a href="../index.html">
            <h4>Home</h4>
            </a>
            <a href="become_student.html">

              <h4>Become a Student </h4>
              </a>
  <a href="become_tutor.html" >

              <h4> Become a Tutor</h4>
              </a>
              <a class = "current" href="../pages/about.html">
              <h4> About Us   </h4>
              </a>

              <a href="under_construction.html">
              <h4>Login</h4>
              </a>
              <nav class = "lang_switch">
                <a class = "lang" href = "https://cn.globalmilestone.org/pages/about.html"><img src = "../img/icons/flags/china.png" alt = "中国"/><p> 中国</p></a>  <a class = "lang" href = "https://mx.globalmilestone.org/pages/about.html"><img src = "../img/icons/flags/mexico.png" alt = "Mexico"/><p> M&#233;xico</p></a>
              </nav>

            </ul>

          </div>

      </nav>




    </header>


    <!-- Landing Image  -->
    <div class = "bckg">
    </div>
    <main id = "landing" class = "landing main_sections">
      <section class = "landing_inner">
        <h1>About Us</h1>
      </section>
    </main>

    <section class="content_wrapper">
        <section class = "founders_wrapper section_wrapper">
        <div class = "founders section_container">
          <h2> Founders </h2>
          <div class = "grid_container">
            <div id = "crystal">
                          <h4>Crystal Li</h4>
                          <img src="people/crystal/crystal_icon.jpg" alt="Crystal Li" height="150"/>
                          <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "athena">
                      <h4>Athena Hernández</h4>
                      <img src="people/athena/athena_icon.jpeg" alt="Athena Hernandez" height="150"/>
                      <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "will">
              <h4>Will Keefe</h4>
              <img src="people/will/will_icon.jpeg" alt="Will Keefe" height="150"/>
              <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "sasha">
              <h4>Sasha Berger</h4>
            <img src="people/sasha/sasha_icon.jpg" alt="Sasha Berger" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
          </div>
        </div>
        </section>

        <section class = "tutors_wrapper section_wrapper">
        <div class = "tutors section_container">
          <h2> Our Tutors </h2>
          <div class = "grid_container">
            <div id = "arden">
              <h4>Arden</h4>
                          <img src="people/arden/arden_icon.jpeg" alt="Arden's Photo" height="150"/>
                          <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "audrey">
              <h4>Audrey</h4>
                      <img src="people/audrey/audrey_icon.jpg" alt="Audrey's Photo" height="150"/>
                      <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "daniel">
              <h4>Daniel</h4>
              <img src="people/daniel/daniel_icon.jpg" alt="Daniel's Photo" height="150"/>
              <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "dax">
              <h4>Dax</h4>
            <img src="../img/icons/university_1.svg" alt="Dax's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "eddie">
              <h4>Eddie</h4>
            <img src="people/eddie/eddie_icon.jpg" alt="Eddie's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "eli">
              <h4>Eli</h4>
            <img src="../img/icons/university_1.svg" alt="Eli's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "emily">
              <h4>Emily</h4>
            <img src="people/emily/emily_icon.jpg" alt="Emily's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "grace">
              <h4>Grace</h4>
            <img src="people/grace/grace_icon.jpg" alt="Grace's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "izzy">
              <h4>Izzy</h4>
            <img src="people/izzy/izzy_icon.jpg" alt="Izzy's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "kasie">
              <h4>Kasie</h4>
            <img src="../img/icons/university_1.svg" alt="Kasie's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "katelyn">
              <h4>Katelyn</h4>
            <img src="people/katelyn/katelyn_icon.jpg" alt="Katelyn's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "katy">
              <h4>Katy</h4>
            <img src="people/katy/katy_icon.jpg" alt="Katy's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "nancy">
              <h4>Nancy</h4>
            <img src="people/nancy/nancy_icon.jpeg" alt="Nancy's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "nason">
              <h4>Nason</h4>
            <img src="people/nason/nason_icon.jpg" alt="Nason's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
          </div>
        </div>
        </section>


      <footer id = "footer">
        <div class = "footer_wrapper">
        <small>Found a bug or a problem with the website? Email me at&nbsp;<a href="mailto:sasha@globalmilestone.org">sasha@globalmilestone.org</a>.</small>
        <br/>
        <small> Copyright &copy; 2020 Global Milestone Club. All Rights Reserved.</small>
        </div>
      </footer>
    </section>
  </body>
</html>
