{% extends "../base_header_footer.html" %}
{% load static %}

{% block head %}
  <link rel = "stylesheet", type = "text/css", href = "{% static "pages/stylesheets/style_about.css" %}">
  <script src = "{% static "pages/scripts/about.js" %}"></script>
{% endblock %}

{% block langswitch %}
<a class = "lang" href = "https://globalmilestone.org/{{nonlocal2}}/about"><img src = "{% static nonlocallink1 %}" alt = "{{nonlocaltext1|safe}}"/><p> {{nonlocaltext1|safe}}</p></a>
<a class = "lang"  href = "https://globalmilestone.org/{{nonlocal1}}/about"><img src = "{% static nonlocallink2 %}" alt = "{{nonlocaltext2|safe}}"/><p>{{nonlocaltext2|safe}}</p></a>
{% endblock %}



{% block content %}
    <!-- Landing Image  -->
    <div class = "bckg">
    </div>
    <main id = "landing" class = "landing main_sections">
      <section class = "landing_inner">
        <h1>About Us</h1>
      </section>
    </main>
        <section class = "founders_wrapper section_wrapper">
        <div class = "founders section_container">
          <h2> Founders </h2>
          <div class = "grid_container">
            <div id = "leaders1">
                          <h4>{{ Leaders_1_Name }}</h4>
                          <img src="people/crystal/crystal_icon.jpg" alt="Crystal Li" height="150"/>
                          <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "leaders2">
                      <h4>Athena Hernández</h4>
                      <img src="people/athena/athena_icon.jpeg" alt="Athena Hernandez" height="150"/>
                      <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "leaders3">
              <h4>Will Keefe</h4>
              <img src="people/will/will_icon.jpeg" alt="Will Keefe" height="150"/>
              <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "leaders4">
              <h4>Sasha Berger</h4>
            <img src="people/sasha/sasha_icon.jpg" alt="Sasha Berger" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "leaders5">
              <h4>Sasha Berger</h4>
            <img src="people/sasha/sasha_icon.jpg" alt="Sasha Berger" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "leaders6">
              <h4>Sasha Berger</h4>
            <img src="people/sasha/sasha_icon.jpg" alt="Sasha Berger" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "leaders7">
              <h4>Sasha Berger</h4>
            <img src="people/sasha/sasha_icon.jpg" alt="Sasha Berger" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
          </div>
        </div>
        </section>

        <section class = "tutors_wrapper section_wrapper">
        <div class = "tutors section_container">
          <h2> Our Tutors </h2>
          <div class = "grid_container">
            <div id = "arden">
              <h4>Arden</h4>
                          <img src="people/arden/arden_icon.jpeg" alt="Arden's Photo" height="150"/>
                          <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "audrey">
              <h4>Audrey</h4>
                      <img src="people/audrey/audrey_icon.jpg" alt="Audrey's Photo" height="150"/>
                      <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "daniel">
              <h4>Daniel</h4>
              <img src="people/daniel/daniel_icon.jpg" alt="Daniel's Photo" height="150"/>
              <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "dax">
              <h4>Dax</h4>
            <img src="../img/icons/university_1.svg" alt="Dax's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "eddie">
              <h4>Eddie</h4>
            <img src="people/eddie/eddie_icon.jpg" alt="Eddie's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "eli">
              <h4>Eli</h4>
            <img src="../img/icons/university_1.svg" alt="Eli's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "emily">
              <h4>Emily</h4>
            <img src="people/emily/emily_icon.jpg" alt="Emily's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "grace">
              <h4>Grace</h4>
            <img src="people/grace/grace_icon.jpg" alt="Grace's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "izzy">
              <h4>Izzy</h4>
            <img src="people/izzy/izzy_icon.jpg" alt="Izzy's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "kasie">
              <h4>Kasie</h4>
            <img src="../img/icons/university_1.svg" alt="Kasie's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "katelyn">
              <h4>Katelyn</h4>
            <img src="people/katelyn/katelyn_icon.jpg" alt="Katelyn's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>

            <div id = "katy">
              <h4>Katy</h4>
            <img src="people/katy/katy_icon.jpg" alt="Katy's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "nancy">
              <h4>Nancy</h4>
            <img src="people/nancy/nancy_icon.jpeg" alt="Nancy's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
            <div id = "nason">
              <h4>Nason</h4>
            <img src="people/nason/nason_icon.jpg" alt="Nason's Photo" height="150"/>
            <a href="under_construction.html">Click for more info</a>
            </div>
          </div>
        </div>
        </section>
{% endblock %}
